In [1]:
import nltk

In [2]:
text = nltk.word_tokenize('And now for something completely different')
nltk.pos_tag(text)

[('And', 'CC'),
 ('now', 'RB'),
 ('for', 'IN'),
 ('something', 'NN'),
 ('completely', 'RB'),
 ('different', 'JJ')]

In [3]:
text = nltk.Text(word.lower() for word in nltk.corpus.brown.words())
text.similar('women')

people men others the time children that one work man af house girls
and two way state years water this

In [4]:
text.similar('bought')

made said done put had seen found given left heard was been brought
set got that took in told felt

In [5]:
text.similar('over')

in on to of and for with from at by that into as up out down through
is all about

In [6]:
text.similar('the')

a his this their its her an that our any all one these my in your no
some other and

In [8]:
from nltk.corpus import brown
bts = brown.tagged_sents(categories = 'news')
bts[:2]

[[('The', 'AT'),
  ('Fulton', 'NP-TL'),
  ('County', 'NN-TL'),
  ('Grand', 'JJ-TL'),
  ('Jury', 'NN-TL'),
  ('said', 'VBD'),
  ('Friday', 'NR'),
  ('an', 'AT'),
  ('investigation', 'NN'),
  ('of', 'IN'),
  ("Atlanta's", 'NP$'),
  ('recent', 'JJ'),
  ('primary', 'NN'),
  ('election', 'NN'),
  ('produced', 'VBD'),
  ('``', '``'),
  ('no', 'AT'),
  ('evidence', 'NN'),
  ("''", "''"),
  ('that', 'CS'),
  ('any', 'DTI'),
  ('irregularities', 'NNS'),
  ('took', 'VBD'),
  ('place', 'NN'),
  ('.', '.')],
 [('The', 'AT'),
  ('jury', 'NN'),
  ('further', 'RBR'),
  ('said', 'VBD'),
  ('in', 'IN'),
  ('term-end', 'NN'),
  ('presentments', 'NNS'),
  ('that', 'CS'),
  ('the', 'AT'),
  ('City', 'NN-TL'),
  ('Executive', 'JJ-TL'),
  ('Committee', 'NN-TL'),
  (',', ','),
  ('which', 'WDT'),
  ('had', 'HVD'),
  ('over-all', 'JJ'),
  ('charge', 'NN'),
  ('of', 'IN'),
  ('the', 'AT'),
  ('election', 'NN'),
  (',', ','),
  ('``', '``'),
  ('deserves', 'VBZ'),
  ('the', 'AT'),
  ('praise', 'NN'),
  ('and', 'CC'),
  ('thanks', 'NNS'),
  ('of', 'IN'),
  ('the', 'AT'),
  ('City', 'NN-TL'),
  ('of', 'IN-TL'),
  ('Atlanta', 'NP-TL'),
  ("''", "''"),
  ('for', 'IN'),
  ('the', 'AT'),
  ('manner', 'NN'),
  ('in', 'IN'),
  ('which', 'WDT'),
  ('the', 'AT'),
  ('election', 'NN'),
  ('was', 'BEDZ'),
  ('conducted', 'VBN'),
  ('.', '.')]]

In [11]:
tagged_token = nltk.tag.str2tuple('fly/NN')

In [12]:
tagged_token

('fly', 'NN')

In [13]:
import nltk
nltk.corpus.brown.words()

['The', 'Fulton', 'County', 'Grand', 'Jury', 'said', ...]

In [14]:
nltk.corpus.brown.tagged_words()

[('The', 'AT'), ('Fulton', 'NP-TL'), ...]

In [15]:
nltk.corpus.brown.tagged_words(tagset='univeral')

[('The', 'UNK'), ('Fulton', 'UNK'), ('County', 'UNK'), ...]

In [17]:
from nltk.corpus import brown
bts = brown.tagged_sents(categories = 'news')
bts2 = brown.tagged_words(categories = 'news')

In [18]:
bts

([[('The', 'AT'), ('Fulton', 'NP-TL'), ('County', 'NN-TL'), ('Grand', 'JJ-TL'), ('Jury', 'NN-TL'), ('said', 'VBD'), ('Friday', 'NR'), ('an', 'AT'), ('investigation', 'NN'), ('of', 'IN'), ("Atlanta's", 'NP$'), ('recent', 'JJ'), ('primary', 'NN'), ('election', 'NN'), ('produced', 'VBD'), ('``', '``'), ('no', 'AT'), ('evidence', 'NN'), ("''", "''"), ('that', 'CS'), ('any', 'DTI'), ('irregularities', 'NNS'), ('took', 'VBD'), ('place', 'NN'), ('.', '.')], [('The', 'AT'), ('jury', 'NN'), ('further', 'RBR'), ('said', 'VBD'), ('in', 'IN'), ('term-end', 'NN'), ('presentments', 'NNS'), ('that', 'CS'), ('the', 'AT'), ('City', 'NN-TL'), ('Executive', 'JJ-TL'), ('Committee', 'NN-TL'), (',', ','), ('which', 'WDT'), ('had', 'HVD'), ('over-all', 'JJ'), ('charge', 'NN'), ('of', 'IN'), ('the', 'AT'), ('election', 'NN'), (',', ','), ('``', '``'), ('deserves', 'VBZ'), ('the', 'AT'), ('praise', 'NN'), ('and', 'CC'), ('thanks', 'NNS'), ('of', 'IN'), ('the', 'AT'), ('City', 'NN-TL'), ('of', 'IN-TL'), ('Atlanta', 'NP-TL'), ("''", "''"), ('for', 'IN'), ('the', 'AT'), ('manner', 'NN'), ('in', 'IN'), ('which', 'WDT'), ('the', 'AT'), ('election', 'NN'), ('was', 'BEDZ'), ('conducted', 'VBN'), ('.', '.')], ...],
 [('The', 'AT'), ('Fulton', 'NP-TL'), ...])

In [21]:
bts2[:10]

[('The', 'AT'),
 ('Fulton', 'NP-TL'),
 ('County', 'NN-TL'),
 ('Grand', 'JJ-TL'),
 ('Jury', 'NN-TL'),
 ('said', 'VBD'),
 ('Friday', 'NR'),
 ('an', 'AT'),
 ('investigation', 'NN'),
 ('of', 'IN')]

In [22]:
brown_lrnd_tagged = brown.tagged_words(categories='learned')

In [23]:
tags = [b[1] for (a,b) in nltk.bigrams(brown_lrnd_tagged) if a[0] =='often']

In [24]:
tags

['AP',
 'QL',
 'VB',
 'VBD',
 'JJ',
 ',',
 'VB',
 'VBN',
 'VBN',
 'VBD',
 ',',
 'VBN',
 'CS',
 'VBN',
 'VB',
 'VBN',
 'VBG',
 'IN',
 'QL',
 'RP',
 'VBD',
 'VBD',
 'RB',
 'VB',
 'VBD',
 'VB',
 'VBD',
 'CS',
 ',',
 'CS',
 'VBN',
 'VB',
 'RB',
 'VB',
 'QL',
 'JJ',
 'IN',
 'RB',
 'VBN',
 'JJ',
 'VBZ',
 'VBN',
 'VBN',
 'VB',
 'VBN',
 'QLP',
 'BEN',
 'VBD',
 'JJ',
 'VBD',
 'IN',
 'IN',
 'WRB',
 'VB',
 '.',
 'TO',
 'VB',
 'VBN',
 'VBN',
 'VBN',
 'JJ',
 'VBN',
 'VBN',
 'HV']

In [25]:
fd = nltk.FreqDist(tags)
fd.tabulate()

VBN  VB VBD  JJ  IN  QL   ,  CS  RB  AP VBG  RP VBZ QLP BEN WRB   .  TO  HV
 15  10   8   5   4   3   3   3   3   1   1   1   1   1   1   1   1   1   1

# naive bayes classification

In [39]:
from nltk.corpus import names
import random

In [40]:
def gender_features(word):
    return {'last_letter' : word[-1]}

In [41]:
names = ([(name , 'male') for name in names.words('male.txt')] +
        [(name , 'female') for name in names.words('female.txt')])

In [42]:
random.shuffle(names)

In [43]:
featuresets = [(gender_features(n) , g) for (n,g) in names]

In [ ]:
featuresets[:10]

In [45]:
train_set , test_set = featuresets[500:] , featuresets[:500]
classifier = nltk.NaiveBayesClassifier.train(train_set)

In [46]:
classifier.classify(gender_features('Leo'))

'male'

In [47]:
import nltk
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True