# CH19 #

## MySQLdb ##

In [1]:
import MySQLdb

In [2]:
MySQLdb

In [4]:
db = MySQLdb.connect("localhost","root",password="24tlrksrkehdwkdql##", db="almond")

In [5]:
db

In [30]:
c = db.cursor()

c.execute("SELECT * FROM almond.almond_api_server_templateitem;")

a = c.fetchall()

a

((0, 1, 'root', 0, 0, 'root'),
 (1, 1, '??', 0, 0, '????1'),
 (2, 1, '222', 1, 0, '????2'),
 (3, 1, '333333', 2, 0, '????3'),
 (4, 1, '444444', 3, 0, '????4'),
 (5, 1, '1-1 ??', 0, 1, '1-1 ??'),
 (6, 1, '??1-2', 1, 1, '?? 1-2'),
 (7, 1, '?? 2-1', 0, 2, '?? 2-1'),
 (8, 1, '??1-2-1', 0, 6, '??1-2-1'),
 (11, 1, '??1-1-1', 0, 5, '??1-1-1'),
 (12, 1, '??1-2-1-1', 0, 8, '??1-2-1-1'))

db = MySQLdb.connect(host, id, password, db)

db: connection object

c = db.cursor()

c: cursor object


c.execute(query): query를 실행함
query: SQL query statement

c.executemeny([query, ... , query]): 여러 query를 실행함

c.fetchone(): query를 실행한 result set의 맨 첫 번째 result를 가져옴

c.fetchmany(size=arraysize): query를 실행한 result set의 첫 번째부터 arraysize개 만큼 result를 가져옴. 인자가 없을 경우: 상위 1개만 가져옴

c.fetchall(): query를 실행한 결과를 모두 가져옴 

* 여러 개의 result set을 가져와야 할 경우에는 tuple(tuple()) 형태로 가져온다
* fetchmany()에서 인자를 넣지 않을 경우 또한 tuple(tuple()) 형태로 가져온다

c.close(): cursor를 close함


db.commit(): execute한 query 중 INSERT, UPDATE, DELETE 등이 반영됨 

db.rollback(): execute한 query 중 INSERT, UPDATE, DELETE 를 취소하여 반영 안함

## SQLite3 ##

In [17]:
import sqlite3

In [18]:
sqlite3

In [33]:
conn = sqlite3.connect("mytest.db")

In [34]:
conn

In [35]:
c = conn.cursor()

In [36]:
c.execute("CREATE TABLE breakfast(\
            name VARCHAR(32) PRIMARY KEY, \
            spam INTEGER, \
            eggs INTEGER, \
            sausage INTEGER, \
            price FLOAT);")

OperationalError: table breakfast already exists

파일을 열어서 확인

링크에서 sqlite browser 다운로드:
    http://sqlitebrowser.org/


jupyter root에서 mytest.db 를 열어 breakfast 테이블이 생성된 것을 확인

In [37]:
c.execute("INSERT INTO breakfast VALUES\
            (\"Spam and sausage Lover's Plate\", 5, 1, 8, 7.95)")
menus = [("Not so Much Spam Plate", 3,2,0,3.95),\
         ("Don't Want ANY SPAM! Plate", 0,4,3,5.95)]

c.executemany("INSERT INTO breakfast VALUES(?,?,?,?,?)", menus)

conn.commit()

In [38]:
c.execute("SELECT * FROM breakfast")
plates = c.fetchall()
plates

[("Spam and sausage Lover's Plate", 5, 1, 8, 7.95),
 ('Not so Much Spam Plate', 3, 2, 0, 3.95),
 ("Don't Want ANY SPAM! Plate", 0, 4, 3, 5.95)]

## PyMySQL ##

In [39]:
conn.close()

In [42]:
import pymysql

In [43]:
connection  = pymysql.connect(
                host='localhost',
                user='root',
                password='24tlrksrkehdwkdql##',
                db='almond',
                charset='utf8'
)

connection

In [46]:
with connection.cursor() as cursor:
    sql = "SELECT * FROM almond.almond_api_server_templateitem;"
    cursor.execute(sql)
    result = cursor.fetchall()
    print(result, type(result))

((0, 1, 'root', 0, 0, 'root'), (1, 1, '응응', 0, 0, '계약조항1'), (2, 1, '222', 1, 0, '계약조항2'), (3, 1, '333333', 2, 0, '계약조항3'), (4, 1, '444444', 3, 0, '계약조항4'), (5, 1, '1-1 내용', 0, 1, '1-1 제목'), (6, 1, '제목1-2', 1, 1, '제목 1-2'), (7, 1, '내용 2-1', 0, 2, '제목 2-1'), (8, 1, '내용1-2-1', 0, 6, '제목1-2-1'), (11, 1, '내용1-1-1', 0, 5, '제목1-1-1'), (12, 1, '내용1-2-1-1', 0, 8, '내용1-2-1-1')) <class 'tuple'>

In [47]:
connection.close()

# CH20 #

In [49]:
from tkinter import *
root = Tk()
root.title("A simple application")
root.mainloop()

In [53]:
root = Tk()
root.columnconfigure(0, weight=1)
root.rowconfigure(0, weight=1)

mycanvas = Canvas(root)
mycanvas.grid(column=0,row=0, sticky=(N,W,E,S))

mycanvas.create_line((10,10,10,100))
mycanvas.create_line((10,10,100,10))
mycanvas.create_rectangle(100,100,150,150)
mycanvas.create_oval(200,100,250,150)
mycanvas.create_polygon(280,150,280,100,350,150,360,100,380,250)
mycanvas.create_text(50,200,text='canvas')

dogimage = PhotoImage(file='prance-8.gif')
print(dogimage)
mycanvas.create_image(200,40, image=dogimage)

root.mainloop()

pyimage4

TclError: image "pyimage4" doesn't exist