# Hyper-parameter Optimization(HPO) Exercise

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('seaborn-white')

In [3]:
# Carseats Sales Prediction dataset
df3 = pd.read_csv('Data/Carseats.csv').drop('Unnamed: 0', axis=1)

df3['High'] = df3.Sales.map(lambda x: 1 if x>8 else 0)
df3.ShelveLoc = pd.factorize(df3.ShelveLoc)[0]

df3.Urban = df3.Urban.map({'No':0, 'Yes':1})
df3.US = df3.US.map({'No':0, 'Yes':1})
X = df3.drop(['Sales', 'High'], axis=1)
y = df3.High

X.describe()

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,124.975000,68.657500,6.635000,264.840000,115.795000,1.307500,53.322500,13.900000,0.705000,0.645000
std,15.334512,27.986037,6.650364,147.376436,23.676664,0.833475,16.200297,2.620528,0.456614,0.479113
min,77.000000,21.000000,0.000000,10.000000,24.000000,0.000000,25.000000,10.000000,0.000000,0.000000
25%,115.000000,42.750000,0.000000,139.000000,100.000000,1.000000,39.750000,12.000000,0.000000,0.000000
50%,125.000000,69.000000,5.000000,272.000000,117.000000,2.000000,54.500000,14.000000,1.000000,1.000000
75%,135.000000,91.000000,12.000000,398.500000,131.000000,2.000000,66.000000,16.000000,1.000000,1.000000
max,175.000000,120.000000,29.000000,509.000000,191.000000,2.000000,80.000000,18.000000,1.000000,1.000000

In [ ]:
print(y.values)

### Task1: Grid search CV

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, classification_report

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
# show 3D wireframe figure
from mpl_toolkits.mplot3d import axes3d

fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')

ax.plot_wireframe(x_values, y_values, z_values)

### Task2: Random search CV

In [ ]:
from scipy import stats
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
from mpl_toolkits.mplot3d import axes3d

fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')

ax.scatter(x_values, y_values, z_values)

### (Optional) Task3: CVs with SVM

In [ ]:
from sklearn.svm import SVC
# Generating test data for avoiding heavy computation
np.random.seed(8)
X = np.random.randn(200,2)
X[:100] = X[:100] +2
X[101:150] = X[101:150] -2
y = np.concatenate([np.repeat(-1, 150), np.repeat(1,50)])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=2)

plt.scatter(X[:,0], X[:,1], s=70, c=y, cmap=plt.cm.Paired)
plt.xlabel('X1')
plt.ylabel('X2');

In [ ]:
# Grid search CV here

In [ ]:
# Randomized search CV here

## Bayesian optimization (with TPE)

* The first time you install the *hyperopt* package with **pip** as following (**Just once!**):
```
(your env) prompt> pip install hyperopt
```

In [ ]:
import hyperopt
from hyperopt import hp
from hyperopt import fmin, tpe, rand

In [ ]:
# define an objective function
def objective(args):
    case, val = args
    if case == 'case 1':
        return val
    else:
        return val ** 2

In [ ]:
# define a search space
space = hp.choice('a',
    [
        ('case 1', 1 + hp.lognormal('c1', 0, 1)),
        ('case 2', hp.uniform('c2', -10, 10))
    ])

In [ ]:
# minimize the objective over the space
hpo_algo = rand.suggest #tpe.suggest
best = fmin(objective, space, algo=hpo_algo, max_evals=100)
print ("best x, y:{}".format(hyperopt.space_eval(space, best)))

If you see the result (the values may be different at each trial), installation is complete successfully. 

Before you start to HPO, kindly refer to the [manual](http://hyperopt.github.io/hyperopt/)