In [1]:
import nltk

In [2]:
text = nltk.word_tokenize('And now for something completely different')
nltk.pos_tag(text)

[('And', 'CC'),
 ('now', 'RB'),
 ('for', 'IN'),
 ('something', 'NN'),
 ('completely', 'RB'),
 ('different', 'JJ')]

In [3]:
text = nltk.Text(word.lower() for word in nltk.corpus.brown.words())
text.similar('women')

people men others the time children that one work man af house girls
and two way state years water this

In [4]:
text.similar('bought')

made said done put had seen found given left heard was been brought
set got that took in told felt

In [5]:
text.similar('over')

in on to of and for with from at by that into as up out down through
is all about

In [6]:
text.similar('the')

a his this their its her an that our any all one these my in your no
some other and

In [8]:
from nltk.corpus import brown
bts = brown.tagged_sents(categories = 'news')
bts[:2]

[[('The', 'AT'),
  ('Fulton', 'NP-TL'),
  ('County', 'NN-TL'),
  ('Grand', 'JJ-TL'),
  ('Jury', 'NN-TL'),
  ('said', 'VBD'),
  ('Friday', 'NR'),
  ('an', 'AT'),
  ('investigation', 'NN'),
  ('of', 'IN'),
  ("Atlanta's", 'NP$'),
  ('recent', 'JJ'),
  ('primary', 'NN'),
  ('election', 'NN'),
  ('produced', 'VBD'),
  ('``', '``'),
  ('no', 'AT'),
  ('evidence', 'NN'),
  ("''", "''"),
  ('that', 'CS'),
  ('any', 'DTI'),
  ('irregularities', 'NNS'),
  ('took', 'VBD'),
  ('place', 'NN'),
  ('.', '.')],
 [('The', 'AT'),
  ('jury', 'NN'),
  ('further', 'RBR'),
  ('said', 'VBD'),
  ('in', 'IN'),
  ('term-end', 'NN'),
  ('presentments', 'NNS'),
  ('that', 'CS'),
  ('the', 'AT'),
  ('City', 'NN-TL'),
  ('Executive', 'JJ-TL'),
  ('Committee', 'NN-TL'),
  (',', ','),
  ('which', 'WDT'),
  ('had', 'HVD'),
  ('over-all', 'JJ'),
  ('charge', 'NN'),
  ('of', 'IN'),
  ('the', 'AT'),
  ('election', 'NN'),
  (',', ','),
  ('``', '``'),
  ('deserves', 'VBZ'),
  ('the', 'AT'),
  ('praise', 'NN'),
  ('and', 'CC'),
  ('thanks', 'NNS'),
  ('of', 'IN'),
  ('the', 'AT'),
  ('City', 'NN-TL'),
  ('of', 'IN-TL'),
  ('Atlanta', 'NP-TL'),
  ("''", "''"),
  ('for', 'IN'),
  ('the', 'AT'),
  ('manner', 'NN'),
  ('in', 'IN'),
  ('which', 'WDT'),
  ('the', 'AT'),
  ('election', 'NN'),
  ('was', 'BEDZ'),
  ('conducted', 'VBN'),
  ('.', '.')]]

In [11]:
tagged_token = nltk.tag.str2tuple('fly/NN')

In [12]:
tagged_token

('fly', 'NN')

In [13]:
import nltk
nltk.corpus.brown.words()

['The', 'Fulton', 'County', 'Grand', 'Jury', 'said', ...]

In [14]:
nltk.corpus.brown.tagged_words()

[('The', 'AT'), ('Fulton', 'NP-TL'), ...]

In [15]:
nltk.corpus.brown.tagged_words(tagset='univeral')

[('The', 'UNK'), ('Fulton', 'UNK'), ('County', 'UNK'), ...]

In [17]:
from nltk.corpus import brown
bts = brown.tagged_sents(categories = 'news')
bts2 = brown.tagged_words(categories = 'news')